<head>
    <meta name="description" content="Shows details of app" />
    <meta />
    <link
      rel="prefetch"
      as="document"
      src="https://github.com/AndrewJBateman/angular-tailwind-converter"
      Set-Cookie:
      CookieName="CookieValue;"
      SameSite="Lax;"
    />
  </head>
  <div class="min-h-screen min-w-screen theme-color">
    <div class="flex justify-center w-full h-screen pt-10 mx-auto">
      <div class="max-w-xs">
        <div class="info-card">
          <div class="p-2 pt-5 pb-0 photo-wrapper">
            <img
              class="w-40 h-40 mx-auto rounded-full"
              width="40px"
              height="40px"
              src="../../../assets/svgs/2euro.svg"
              alt="Image of 2euro coin"
            />
          </div>

          <div class="p-2">
            <h4
              class="pb-1 text-xl font-medium leading-8 text-center text-blue-900"
            >
              Exchange Rate API
            </h4>
            <div class="px-2 text-xs text-left text-gray-600">
              <p class="pb-2">
                <span class="font-bold text-blue-900"
                  >The exchange rate data</span
                >
                is obtained from the ExchangeRate-API Standard and Pair Conversion
                pages. This is free and just requires an API key to be provided.
              </p>
            </div>
            <table class="items-center my-2 text-xs">
              <tbody>
                <tr>
                  <td class="px-2 text-gray-500">
                    <span class="font-bold text-blue-900">Framework JS:</span>
                  </td>
                  <td class="px-2 text-xs text-gray-600">Angular 16</td>
                </tr>
                <tr>
                  <td class="px-2">
                    <span class="font-bold text-blue-900">Framework CSS:</span>
                  </td>
                  <td class="px-2 text-xs text-gray-600">Tailwind</td>
                </tr>
                <tr>
                  <td class="px-2">
                    <span class="font-bold text-blue-900">Testing:</span>
                  </td>
                  <td class="px-2 text-xs text-gray-600">No tests setup</td>
                </tr>
              </tbody>
            </table>

            <div class="my-2 text-center">
              <a
                class="text-xs italic font-medium text-indigo-600 hover:underline hover:text-indigo-800"
                href="https://github.com/AndrewJBateman/angular-tailwind-converter"
                target="_blank"
                rel="noopener noreferrer"
                >See Github repo</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
